<div class="container"> <!-- START OF CONTAINER -->
	<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active">
		  <%=image_tag("mountain.jpg", class: "img-responsive", :size => "1500x380")%>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>Heading 1</h1>
	          <p>Brief Description</p>
	          <p><a class="btn btn-lg btn-primary" href="#">Learn More</a>
	        </p>
	        </div>
	      </div>
	    </div>
	    <div class="item">
		  <%=image_tag("photo.jpg", class: "img-responsive", :size => "1500x380")%>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>Heading 2</h1>
	          <p>Brief Description</p>
	          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
	        </div>
	      </div>
	    </div>
	    <div class="item">
		  <%=image_tag("bw-room.jpg", class: "img-responsive", :size => "1500x380")%>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>Heading 3</h1>
	          <p>Brief Description</p>
	          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- Controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="icon-prev"></span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="icon-next"></span>
	  </a>  
	</div>
	<!-- /.carousel -->

	<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 homepage_content">
			<h2>Latest News</h2>
			<hr>


			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date">Posted On: <%= post.created_at.strftime("%A, %b %d %Y") %></p>
			<% end %>

		</div>
		<div class="col-2 homepage_content">
			<h2>Dari Classes</h2>
			<hr>
			<h3>Every Saturday at 10 am</h3>
			<p>Brooklyn forage 3 wolf moon typewriter, kinfolk portland wayfarers taxidermy letterpress. Master cleanse street art pork belly try-hard, wolf skateboard viral irony tofu.</p>
			<p>Brooklyn forage 3 wolf moon typewriter, kinfolk portland wayfarers taxidermy letterpress. Master cleanse street art pork belly try-hard, wolf skateboard viral irony tofu.</p>


		</div>
		<div class="col-3 homepage_content">
			<h2>English Classes</h2>
			<hr>
			<h3>Every Sunday at 5pm</h3>
			<p>Brooklyn forage 3 wolf moon typewriter, kinfolk portland wayfarers taxidermy letterpress. Master cleanse street art pork belly try-hard, wolf skateboard viral irony tofu.</p>
		</div>
	</div>
</div> <!-- END OF CONTAINER -->